{% extends "feed/base.html" %}
{% load static %}
{% block title %}About Us | Django Photo Feed{% endblock %}
{% block  header %}<h1 class="hero-h">About Our Team</h1>{% endblock %}
{% block main %}
<div class="about-wrap">
<p class="about-p">Thanks for the interest. We open source our images from <a href="https://pexels.com">pexels.com</a> amongst other user uploaded content. We aim to provide a user friendly image viewing experience where you can accumulate a collection of liked photos as our site continues to grow and the feed gets more robust.</p>
<h3 class="about-h3">Reach out</h3>
<p class="about-p">If you need to contact us, the team will be available to answer your questions or concerns from 8am-4:30pm (PST) M-F. If it is an emergency, and you must reach us sooner. Feel free to drop an email to <i>djphotos@help.com</i> and we will get back to you within 24-48hrs.
<ul>
    <li>By Phone: (555)-555-5555</li>
    <li>By Email: djphotos@gmail.com</li>
</ul>
</div>
{% endblock %}