<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
</head>
<body>
    <header class="top-header">
        <nav class="main-nav">
            <a href="{% url 'feed:index' %}" class="home-logo"><span>📷</span></a>
            <ul>
                <li><a href="{% url 'feed:index' %}">Feed</a></li>
                <li><a href="{% url 'feed:about' %}">About</a></li>
                <li><a href="{% url 'feed:poll' %}">Leaderboard</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'feed:profile' user.id %}">Profile</a></li>
                {% if user.is_superuser %}
                <li><a href="/admin">Dashboard</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feed:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feed:register' %}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feed:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block header %}{% endblock %}
    <main>
    {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2021 Tanner Dolby. Built with <a href="https://docs.djangoproject.com/en/3.2/">Django</a></p>
    </footer>
</body>
</html>